{% extends 'homepage_base/auth_base.html' %}

{% block title %} About Us {% endblock %}

{% block content %}

{% load static %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card" style="margin-top:1.5rem;margin-bottom:1rem;padding-top:5rem;padding-bottom:5rem;padding-left:3rem;padding-right:3rem">
                We are a small team of passionate  developers working in the marketing and sales industry to help marketers
                become more productive and efficient. <br>

                We build tools for marketers to help them manage their campaigns and track their results.
                Our goal is to provide the best solution for the B2B marketers and sales representatives. <br>

                We are working hard to automate the marketing process and make it as lazy way for marketers as possible.<br>

                Currently we are implementing some AI to eleminate the human manual work and make the prospecting process much easier .
              
        </div>
    </div>
</div>


{% endblock content %}

{% block customjs %}

{% endblock customjs %}