{% extends 'homepage_base/auth_base.html' %}

{% block content %}

<div class="row justify-content-center" style="margin-top:5rem">
<div class="col-md-6">
<h1 class="text-center text-white">Become Our Affiliate and Earn 40%  Lifetime Recurring Commission !</h1><br>
</div>
</div>


<div class="row d-flex justify-content-center">
    <div class="col-sm-2 col-xs-2 cold-md-5">
   
        <a href="#affiliateform" class="btn joinblackbtn btn-lg btn-dark text-white  text-center ">Join As An Affiliate</a>
    </div>
</div>




<div class="row justify-content-center" style="margin-top:3rem">

    <div class="col-md-4">
<h3 class="text-center text-white">Why joining ?</h3><br>
<ul class="list-group">
    <li class="list-group-item">Earn 40% Lifetime Recurring Commision</li>
    <li class="list-group-item">Bi-weekly payment</li>
    <li class="list-group-item">1 unlimited package(most wanted) = 40$/m = 480$/year/user in pure recurring commision !</li>
    <li class="list-group-item">World class tracking system</li>
    <li class="list-group-item"> 30 days cookie duration </li>
    <li class="list-group-item">Minimum payout is only 25$</li>
    <li class="list-group-item"> Complete performance data on dashboard </li>
    <li class="list-group-item">Refer other affiliates and earn 20% Recurring commision on their earning</li>
</ul>
    </div>
    <style>
    @media only screen and (max-width: 576px){
         .mble{
            margin-top:1rem !important;
            margin-bottom:-1rem !important;
            
         }


         .joinblackbtn{
            width:100vw !important;
         }
         

    }

</style>

    <div class="col-md-4">
        <h3 class="text-center text-white  mble">Promote to whom ?</h3><br>
<ul class="list-group">
    <li class="list-group-item">B2B Sales proffesionals</li>
    <li class="list-group-item">SEO link builders</li>
    <li class="list-group-item">Lead generation experts</li>
    <li class="list-group-item">Freelance lead generators</li>
    <li class="list-group-item"> Cold email marketers </li>
    <li class="list-group-item">Agencies who do email marketing</li>
    <li class="list-group-item">Marketing agencies</li>
    <li class="list-group-item">B2B Prospectors</li>
    <li class="list-group-item">Lead generation agencies</li>
</ul>
    </div>

</div>


<div class="row justify-content-center" style="margin-top:3rem">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center text-dark pt-3">Signup Today</h3>
            </div>
            <div class="card-body" id="affiliateform">
                <form action="{% url 'signup' %}" method="POST" >

                    {% csrf_token %}
                    <div class="form-group" >
                        
                        <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name" required>
                    </div>

                    <input type="hidden" name="is_affiliate" value="1">

                    <div class="form-group" >
                        
                        <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name" required>
                    </div>
                    <div class="form-group" >
                        
                        <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" required>
                    </div>
                    <input type="hidden" name="tos" value="1">
                    <div class="form-group" >
                        
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                    </div>
                    
                    <div class="form-group" >
                        
                        <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-dark text-white" value="Join Now As Affiliate"/>
                    </div>
                </form>
            </div>
    </div>
</div>
</div>

{% endblock content %}