{% extends 'home/landing_base.html' %}

{% block title %} Best prospecting and outreach tool {% endblock title %}

{% block content %}
{% load static %}


<div class="row justify-content-center mt-4">
	<div class="col-md-6">

<iframe width="875" height="409" src="https://www.youtube.com/embed/DqVPRvJc99s" title="platileads vsl" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

</div>

{% endblock content %}


{% block customjs %}


{% endblock customjs %}