

{% extends 'homepage_base/front_base.html' %}

{% block title %} Generate b2b Leads  Autopilot {% endblock title %}

{% block content %}
{% load static %}

			<div role="main" class="main">

				<section class="section bg-primary curved-border position-relative border-0 m-0" style="height: 100vh;" id="intro">
					<!--
					<div class="appear-animation position-absolute" data-appear-animation="zoomIn" data-appear-animation-delay="1400" style="top: 25%; left: 16%;">
						<img src="{% static 'img/demos/sass/icons/icon-' %}1.png" class="img-fluid" alt="" data-plugin-float-element data-plugin-options="{'startPos': 'none', 'speed': 3, 'transition': true}" />
					</div>
					<div class="appear-animation position-absolute" data-appear-animation="zoomIn" data-appear-animation-delay="2000" style="top: 42%; left: 10%;">
						<img src="{% static 'img/demos/sass/icons/icon-' %}2.png" class="img-fluid" alt="" data-plugin-float-element data-plugin-options="{'startPos': 'none', 'speed': 3.5, 'transition': true, 'horizontal': true}" />
					</div>
					<div class="appear-animation position-absolute" data-appear-animation="zoomIn" data-appear-animation-delay="800" style="top: 60%; left: 20%;">
						<img src="{% static 'img/demos/sass/icons/icon-' %}3.png" class="img-fluid" alt="" data-plugin-float-element data-plugin-options="{'startPos': 'none', 'speed': 2.5, 'transition': true}" />
					</div>
					<div class="appear-animation position-absolute" data-appear-animation="zoomIn" data-appear-animation-delay="1100" style="top: 22%; right: 25%;">
						<img src="{% static 'img/demos/sass/icons/icon-' %}4.png" class="img-fluid" alt="" data-plugin-float-element data-plugin-options="{'startPos': 'none', 'speed': 2, 'transition': true, 'horizontal': true}" />
					</div>
					<div class="appear-animation position-absolute" data-appear-animation="zoomIn" data-appear-animation-delay="1700" style="top: 49%; right: 16%;">
						<img src="{% static 'img/demos/sass/icons/icon-' %}5.png" class="img-fluid" alt="" data-plugin-float-element data-plugin-options="{'startPos': 'none', 'speed': 3, 'transition': true}" />
					</div>
					<div class="appear-animation position-absolute" data-appear-animation="zoomIn" data-appear-animation-delay="2300" style="top: 71%; right: 13%;">
						<img src="{% static 'img/demos/sass/icons/icon-' %}6.png" class="img-fluid" alt="" data-plugin-float-element data-plugin-options="{'startPos': 'none', 'speed': 2.5, 'transition': true, 'horizontal': true}" />
					</div> 
				-->

					<div class="container pt-5 mt-5">
						<div class="row justify-content-center pt-5 mt-5">
							<div class="col-lg-7 text-center pt-3">
								<h1 class="text-color-light font-weight-extra-bold text-12 mb-1 mb-2 line-height-2 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500" style="margin-bottom:4rem;margin-top:-6rem">The AI-Powered Software to Find,Verify and Manage Outbound Leads</h1>
								
								<a href="{% url 'signup' %}" class="btn btn-light text-color-dark custom-secondary-font font-weight-bold text-3 px-5 py-3 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="900">GET STARTED FREE</small></a>
								<a href="#pricing" class="btn btn-dark custom-secondary-font font-weight-bold text-3 px-5 py-3 ms-4 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="900">VIEW OUR PLANS</a>
							</div>
						</div>
					</div>

					<div class="custom-animated-circles">
						<div class="circle"></div>
						<div class="circle"></div>
						<div class="circle"></div>
						<div class="circle"></div>
					</div>

				</section>

				<div class="custom-screens-carousel">
					<div class="container" style="margin-top:4rem">
						<div class="row justify-content-center text-center">
							<div class="col appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
								<div class="carousel-ipad">
									<div class="carousel-ipad-camera"></div>
									<div class="owl-carousel owl-theme nav-style-1 m-0" data-plugin-options="{'autoHeight': true, 'items': 1, 'margin': 10, 'nav': false, 'dots': false, 'stagePadding': 0, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 3000}">
										<div>
											<img alt=""  class="img-fluid rounded-0" src="{% static 'img/homepage/dashboard.PNG' %}">
										</div>
										
									</div>
									<div class="carousel-ipad-home"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="container my-5">
					<div class="row text-center py-5">
						<div class="col px-5">
							
							<h1 class="word-rotator-title font-weight-bold text-9 mb-3 appear-animation" data-appear-animation="fadeInUpShorter">
								Generate leads in a bulk - completely autopilot
							</h1>
							
							<p class="lead px-5 mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
								Find and verify targeted emails in a bulk. No need to enter manually.Our AI powered software will find and verify emails from csv files.
							</p>
							<a href="{% url 'signup' %}" class="btn btn-primary text-center mt-2" style="border-radius:25px">Signup For Free</a>
						</div>
					</div>
					<!---
					<div class="row">
						<div class="col">
							<div class="divider">
								<div class="divider-small-text">
									As Seen On
								</div>
							</div>
						</div>
					</div>-->
					<!--<div class="row text-center mt-5 pb-3">
						<div class="owl-carousel owl-theme carousel-center-active-item" data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 1}, '768': {'items': 5}, '992': {'items': 7}, '1200': {'items': 7}}, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': false}">
							<div>
								<img class="img-fluid" src="{% static 'img/logos/logo-1.png' %}" alt="">
							</div>
							<div>
								<img class="img-fluid" src="{% static 'img/logos/logo-2.png' %}" alt="">
							</div>
							<div>
								<img class="img-fluid" src="{% static 'img/logos/logo-3.png' %}" alt="">
							</div>
							<div>
								<img class="img-fluid" src="{% static 'img/logos/logo-4.png' %}" alt="">
							</div>
							<div>
								<img class="img-fluid" src="{% static 'img/logos/logo-5.png' %}" alt="">
							</div>
							<div>
								<img class="img-fluid" src="{% static 'img/logos/logo-6.png' %}" alt="">
							</div>
							<div>
								<img class="img-fluid" src="{% static 'img/logos/logo-4.png' %}" alt="">
							</div>
							<div>
								<img class="img-fluid" src="{% static 'img/logos/logo-2.png' %}" alt="">
							</div>
						</div>
					</div>-->
				</div>

				<section class="section m-0 mt-4 border-0 p-relative" id="features">
					<div class="container">
						<div class="row py-2 align-items-center justify-content-center">
							<div class="col-lg-6 text-center" style="max-width: 1500px">
								<img class="img-fluid" src="{% static 'img/jobroleemail.png' %}" alt="">
							</div>
							<div class="col-lg-6 text-center text-lg-start">
								<h2 class="text-color-dark font-weight-bold text-6 mb-1 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="0">Find anyones email selecting only job role</h2>
								<p class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
									Only have company website address ? No problem. Our AI powered software  is capable of findng anybody if you just give it the targated job position .<br>
									No need to worry about the email accurancy . This tool finds and verifies email altogether .
								</p>
								
								<a href="#pricing" class="btn btn-dark custom-secondary-font font-weight-bold text-3 px-5 py-3 mt-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">VIEW OUR PLANS</a>
							</div>
						</div>
					</div>

					<div class="custom-animated-circles custom-animated-circles-primary custom-animated-circles-pos-3 d-none d-block-md">
						<div class="circle"></div>
						<div class="circle"></div>
						<div class="circle"></div>
						<div class="circle"></div>
					</div>
				</section>

				<section class="section bg-transparent m-0 border-0">
					<div class="container">
						<div class="row py-2 align-items-center justify-content-center">
							<div class="col-lg-6 text-center text-lg-start">
								<h2 class="text-color-dark font-weight-bold text-6 mb-1 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="0">Instant email verification</h2>
								<p class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200"> Higher bounce rate causes emails landing on spam . We provide three levels of email verification including syntax check,dns check and mailbox existance check </p>
								<p class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">If you have a list of email addresses you can verify those with the bulk verification feature. Just upload your lead and let the software do all the boaring tasks for you.</p>
								<a href="#pricing" class="btn btn-dark custom-secondary-font font-weight-bold text-3 px-5 py-3 mt-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">VIEW OUR PLANS</a>
							</div>
							<div class="col-lg-6 text-center">
								<img class="img-fluid" src="{% static 'img/homepage/email_verification.PNG' %}" alt="">
							</div>
						</div>
					</div>
				</section>

				<section class="section m-0 border-0">
					<div class="container">
						<div class="row py-2 align-items-center justify-content-center">
							<div class="col-lg-6 text-center">
								<img class="img-fluid" src="{% static 'img/homepage/bulkemailfinder.PNG' %}" alt="">
							</div>
							<div class="col-lg-6 text-center text-lg-start">
								<h2 class="text-color-dark font-weight-bold text-6 mb-1 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="0">Find anyones email using email finder tool</h2>
								<p class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">You just have  company websites ? No problem , Just go to the email finding tool and enter website and targeted job position and the tool will find and validate the email. </p>
								<p class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">If you have a list of leads with name and website , the tool will find emails even more faster</p>
								<a href="#pricing" class="btn btn-dark custom-secondary-font font-weight-bold text-3 px-5 py-3 mt-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">VIEW OUR PLANS</a>
							</div>
						</div>
					</div>
				</section>

				<section class="section bg-dark section-height-3 m-0 border-0" id="overview">
					<div class="container-fluid">
						<div class="row">
							<div class="col text-center">
								<h2 class="text-color-light font-weight-bold text-7 mb-1">All in one lead generation solutioin</h2>
								<p class="lead">Generate and verify leads  within just one click. Save and export everything including name, email , job role etc completely automated</p>
							</div>
						</div>
					</div>

					<div class="row justify-content-center">
						<div class="col-11 py-4">

							<div class="owl-carousel owl-theme stage-margin stage-margin-lg nav-style-2 mb-3 mt-4" data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 2}, '979': {'items': 2}, '1199': {'items': 2}}, 'margin': 50, 'loop': true, 'nav': true, 'dots': false, 'stagePadding': 100, 'autoplay': true, 'autoplayTimeout': 5000}">
								<div>
									<div class="carousel-ipad carousel-ipad-lg zoom-box">
										<img alt="" class=" rounded-0" style="height:10rem" src="{% static 'img/homepage/lead_xl.PNG' %}">
									</div>
								</div>
								<div>
									<div class="carousel-ipad carousel-ipad-lg">
										<img alt="" class=" rounded-0" style="height:10rem" src="{% static 'img/homepage/lead_page.PNG' %}">
									</div>
								</div>
								
							</div>

						</div>
					</div>

				</section>

				<!--

				<section class="section section-height-3 m-0 border-0" id="reviews">
					<div class="container">
						<div class="row py-2">
							<div class="col text-center">
								<h2 class="text-color-dark font-weight-bold text-7 mb-1">User Reviews</h2>
								<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit massa enim.</p>
							</div>
						</div>
						<div class="row pt-3">
							<div class="col-md-4 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500">
								<div class="testimonial testimonial-light">
									<blockquote class="blockquote-default">
										<p class="mb-0 text-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula.</p>
									</blockquote>
									<div class="testimonial-arrow-down"></div>
									<div class="testimonial-author">
										<div class="testimonial-author-thumbnail">
											<img src="{% static 'img/clients/client-1.jpg' %}" class="rounded-circle" alt="">
										</div>
										<p><strong class="font-weight-extra-bold text-dark">John Smith</strong><span class="text-default">CEO & Founder - Okler</span></p>
									</div>
								</div>
							</div>
							<div class="col-md-4 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">
								<div class="testimonial testimonial-primary">
									<blockquote>
										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.</p>
									</blockquote>
									<div class="testimonial-arrow-down"></div>
									<div class="testimonial-author">
										<div class="testimonial-author-thumbnail">
											<img src="{% static 'img/clients/client-2.jpg' %}" class="rounded-circle" alt="">
										</div>
										<p><strong class="font-weight-extra-bold">Jessica Smith</strong><span>CEO & Founder - Okler</span></p>
									</div>
								</div>
							</div>
							<div class="col-md-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500">
								<div class="testimonial testimonial-light">
									<blockquote class="blockquote-default">
										<p class="mb-0 text-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula.</p>
									</blockquote>
									<div class="testimonial-arrow-down"></div>
									<div class="testimonial-author">
										<div class="testimonial-author-thumbnail">
											<img src="{% static 'img/clients/client-3.jpg' %}" class="rounded-circle" alt="">
										</div>
										<p><strong class="font-weight-extra-bold text-dark">Paul Smith</strong><span class="text-default">CEO & Founder - Okler</span></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

			-->

				<section class="section section-height-3 bg-transparent m-0 border-0" id="pricing">
					<div class="container">
						<div class="row py-2">
							<div class="col text-center">
								<h2 class="text-color-dark font-weight-bold text-7 mb-1">Pricing</h2>
								<p class="lead">Choose our flexible plan according to your needs</p>
								<small style="font-size:100%">Each successful email verification or finding(normally) costs 1 credit . Email finding with job position costs 5 credits each </small>
							</div>
						</div>

						<div class="pricing-table py-5">
							<div class="col-md-6 col-lg-3">
								<div class="plan">
									<div class="plan-header">
										<h3>Free forever</h3>
										
									</div>
									<div class="plan-price">
										<span class="price"><span class="price-unit">$</span>0.0</span>
										<label class="price-label">PER MONTH</label><br>
										<p>(No credit card required)</p>
									</div>
									<div class="plan-features">
										<ul>
											<li>100 credits/m</li>
											<li>Email verification</li>
											<li>Email finding(no job role selection)</li>
						
											<li>No priority support</li>
										</ul>
									</div>
									<div class="plan-footer">
										<a href="{% url 'signup' %}?plan=f" class="btn btn-dark btn-modern btn-outline py-2 px-4">Sign Up</a>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-3">
								<div class="plan">
									<div class="plan-header">
										<h3>Platinum</h3>
									</div>
									<div class="plan-price">
										<span class="price"><span class="price-unit">$</span>14</span>
										<label class="price-label">PER MONTH</label>
									</div>
									<div class="plan-features">
										<ul>
											<li>600 credits/m</li>
											<li>Email verification</li>
											<li>Email finding(with job role)</li>
											
											<li>Lead export</li>
											<li>Priority support</li>
										</ul>
									</div>
									<div class="plan-footer">
										<a href="{% url 'signup' %}?plan=p" class="btn btn-dark btn-modern btn-outline py-2 px-4">Sign Up</a>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-3">
								<div class="plan plan-featured">
									<div class="plan-header bg-primary">
										<h3>Gold</h3>
									</div>
									<div class="plan-price">
										<span class="price"><span class="price-unit">$</span>39</span>
										<label class="price-label">PER MONTH</label>
									</div>
									<div class="plan-features">
										<ul>
											<li>4000 credits/m</li>
											<li>Email verification</li>
											<li>Email finding(with job role)</li>
									
											<li>Lead export</li>
											<li>Ultra priority support</li>
										</ul>
									</div>
									<div class="plan-footer">
										<a href="{% url 'signup' %}?plan=g" class="btn btn-primary btn-modern py-2 px-4">Sign Up</a>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-3">
								<div class="plan">
									<div class="plan-header">
										<h3>Unlimited</h3>
									</div>
									<div class="plan-price">
										<span class="price"><span class="price-unit">$</span>99</span>
										<label class="price-label">PER MONTH</label>
									</div>
									<div class="plan-features">
										<ul>
											<li>Unlimited credit</li>
											<li>Unlimited email verification</li>
											<li>Unlimited email findings(with job role)</li>
											
											<li>Lead export</li>
											<li>Super priority support</li>
										</ul>
									</div>
									<div class="plan-footer">
										<a href="{% url 'signup' %}?plan=u" class="btn btn-dark btn-modern btn-outline py-2 px-4">Sign Up</a>
									</div>
								</div>
							</div>
						</div>

					</div>
				</section>

				<section class="section section-height-3 curved-border m-0 border-0" id="faqs">
					<div class="container">
						<div class="row py-2">
							<div class="col text-center">
								<h2 class="text-color-dark font-weight-bold text-7 mb-1">Frequent Asked Questions</h2>
								<p class="lead">If these questions does not cover your inquery please contact us</p>
							</div>
						</div>
						<div class="row py-3 align-items-center justify-content-center">
							<div class="col-sm-9">

								<div class="toggle toggle-minimal toggle-primary" data-plugin-toggle>
									<section class="toggle active">
										<a class="toggle-title">does it tool verify email addresses?</a>
										<div class="toggle-content">
											<p class="pb-3">Yes,It can verify email singly or in a  bulk</p>
										</div>
									</section>
									<section class="toggle">
										<a class="toggle-title">How credit system works ?</a>
										<div class="toggle-content">
											<p class="pb-3">Each email verification will cost 1 credit and each successful email finding/lead will cost 1 credit</p>
										</div>
									</section>
									<section class="toggle">
										<a class="toggle-title">Do you offer free trial ?</a>
										<div class="toggle-content">
											<p class="pb-3">Yes,we do . You will receive 200 free credit every single month (no credit card requuired)</p>
										</div>
									</section>
									<section class="toggle">
										<a class="toggle-title">Can i upgrade or downgrade anytime ?</a>
										<div class="toggle-content">
											<p class="pb-3">Yes, You can</p>
										</div>
									</section>
									<section class="toggle">
										<a class="toggle-title">What happens if i cancel my plan ?</a>
										<div class="toggle-content">
											<p class="pb-3">If you cancel your plan you will still have the credits remaining for that monthly cycle .After that you will be automatically downgraded to the Free forever plan</p>
										</div>
									</section>
									<section class="toggle">
										<a class="toggle-title">Do you offer refund if i am not satisfied ?</a>
										<div class="toggle-content">
											<p class="pb-3">It is unexpected but Yes, Just contact us</p>
										</div>
									</section>
									<section class="toggle">
										<a class="toggle-title">Can i be able to download my leads later?</a>
										<div class="toggle-content">
											<p class="pb-3">Yes, You can download leads anytime </p>
										</div>
									</section>

									<section class="toggle">
										<a class="toggle-title">What are the campaigns?</a>
										<div class="toggle-content">
											<p class="pb-3">Campaigns are where the leads will be stored from each email discovered by our tool and later you will be able to download leads from a perticuler campaign </p>
										</div>
									</section>
									<section class="toggle">
										<a class="toggle-title">What is the active campaign?</a>
										<div class="toggle-content">
											<p class="pb-3">Active campaign means where the leads will be stored as for the current session.You can activate any campaign from the dashboard to receive leads into it </p>
										</div>
									</section>
									<section class="toggle">
										<a class="toggle-title">What payment methods do you accept ?</a>
										<div class="toggle-content">
											<p class="pb-3">We accept visa,mastercard,Amex,virtual cards etc</p>
										</div>
									</section>
								</div>

							</div>
						</div>
					</div>
				</section>

				<section class="section section-height-3 bg-transparent m-0 border-0">
					<div class="container">
						<div class="row justify-content-center counters counters-lg pt-2">
							<div class="col-md-3 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500">
								<div class="counter counter-with-unit counter-unit-on-top">
									<strong class="text-color-dark font-weight-extra-bold text-13 text-lg-15" data-to="99">0</strong>
									<strong class="unit text-color-dark font-weight-bold text-5 text-lg-8">%</strong>
									<label class="font-weight-normal text-3 text-lg-4 px-5 px-lg-4">Percent of happy users using Platileads</label>
								</div>
							</div>
							<div class="col-md-4 col-lg-3 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">
								<div class="counter counter-with-unit counter-unit-on-top">
									<strong class="text-color-dark font-weight-extra-bold text-13 text-lg-15" data-to="65994">0</strong>
									<strong class="unit text-color-dark font-weight-bold text-5 text-lg-8">+</strong>
									<label class="font-weight-normal text-3 text-lg-4 px-5">Leads aquired by platileads</label>
								</div>
							</div>
							<div class="col-md-3 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500">
								<div class="counter counter-with-unit counter-unit-on-top">
									<strong class="text-color-dark font-weight-extra-bold text-13 text-lg-15" data-to="250">0</strong>
									<strong class="unit text-color-dark font-weight-bold text-5 text-lg-8">+</strong>
									<label class="font-weight-normal text-3 text-lg-4 px-5">Number of clients around the world</label>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="section section-height-5 bg-primary curved-border curved-border-top overflow-hidden border-0 m-0" id="trial">
					<div class="custom-animated-circles custom-animated-circles-pos-2">
						<div class="circle"></div>
						<div class="circle"></div>
						<div class="circle"></div>
						<div class="circle"></div>
					</div>

					
					<div class="container pb-5 mb-5">
						<div class="row pb-2 mb-4">
							<div class="col text-center">
								<h2 class="text-color-light font-weight-bold text-10 mb-2">Have inquery ? - Contact us</h2>
								<p class="text-color-light opacity-6 text-4">We are available 24/7 for your inquery </p>
							</div>
						</div>


						<div class="row justify-content-center">
							<div class="col-lg-6">
								<form class="contact-forms custom-form-style-1 form-errors-light" action="{% url 'contact_us' %}" method="POST">
									<div class="contact-forms-success alert alert-success d-none mt-4">
										<strong>Success!</strong> Your message has been sent ! We will get back to you as soon as possible.
									</div>

									

									<div class="input-box">
									<div class="row">
										{% csrf_token %}
										<div class="form-group col mb-2">
											<input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" id="name" name="name" placeholder="Name" required>
										</div>
									</div>
									<div class="row">
										<div class="form-group col mb-2">
											<input type="text" value="" data-msg-required="Please enter subject." maxlength="100" class="form-control" name="subject" id="subject" placeholder="subject" required>
										</div>
									</div>
									<div class="row">
										<div class="form-group col mb-5">
											<input type="email" value="" id="email" data-msg-required="Please enter your email address." data-msg-email="Please enter your email address." maxlength="100" class="form-control" name="email" placeholder="Email" required>
										</div>
									</div>
									<div class="row">
										<div class="form-group col mb-5">
											<textarea style="height:9rem" id="message" name="message" class="form-control" placeholder="Explain in details please....." rows="12"></textarea>
										</div>
									</div>
									<div class="row">
										<div class="form-group col text-center">
											<input type="submit" value="SEND INQUERY" id="sendBtn" class="btn btn-dark btn-modern custom-secondary-font text-3 px-5 py-3" data-loading-text="Loading...">
										</div>
									</div>
								</div>
								</form>
							</div>
						</div>
					</div>
				</section>
<!---
				<div class="container">
					<div class="row" style="margin-top: -130px;">

						<div class="col-md-4">
							<a href="#" class="text-decoration-none">
								<div class="card border-0 border-radius-0 custom-box-shadow-1">
									<div class="card-body text-center p-5 my-2">
										<i class="icon-screen-smartphone icons text-color-dark text-11 mb-3 d-block"></i>
										<h4 class="text-color-primary font-weight-bold text-4 pb-1 mb-2">APP AVAILABLE</h4>
										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit phasellus.</p>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-4">
							<a href="#" class="text-decoration-none">
								<div class="card border-0 border-radius-0 custom-box-shadow-1">
									<div class="card-body text-center p-5 my-2">
										<i class="icon-magnifier icons text-color-dark text-11 mb-3 d-block"></i>
										<h4 class="text-color-primary font-weight-bold text-4 pb-1 mb-2">KNOWLEDGE BASE</h4>
										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit phasellus.</p>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-4">
							<a href="#" class="text-decoration-none">
								<div class="card border-0 border-radius-0 custom-box-shadow-1">
									<div class="card-body text-center p-5 my-2">
										<i class="icon-screen-desktop icons text-color-dark text-11 mb-3 d-block"></i>
										<h4 class="text-color-primary font-weight-bold text-4 pb-1 mb-2">USERS FORUM</h4>
										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit phasellus.</p>
									</div>
								</div>
							</a>
						</div>

					</div>
				</div> -->


				

			</div> 

			{% endblock content %}