{% extends 'dashboard_base/base_dashboard.html' %}

{% block title %} Contact  List {% endblock title %}


{% block content %}

<div class="container-fluid">
    <div class="row justify-content-end">
        <div class="col-md-9">

<div class="card" style="margin-top:6rem">
    <div class="card-header">
        <h3 class="card-title">Contact list of {{contact_book}} </h3>
    </div>

    {% if messages %}

    {% for message in messages %}

    <div class="card-header" role="alert">
        <h3 class="card-title">
            <div class="alert alert-danger alert-dismissible" >
                
                {{message}}

                <span style="margin-left:5px;margin-bottom:5px" type="button" class="close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            </div>
        </h3>
    </div>

    {% endfor %}

    {% endif %}

    <div class="card-body">

<table id="warmupstats" class="table-bordered table-dark " style="width:100%">
    <thead >
        <tr style="margin-top:3rem !important;margin-bottom:3rem !important">
            
            <th>Creation Date</th>
            
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

    {% if total_dt != 0 %}

    {% for data in inf %}

        <tr class="mt-1">
            <td>{{data.created_at}}</td>
            <td>{{data.first_name}}</td>
            <td>{{data.last_name}}</td>
            <td>{{data.email}}</td>
            
            
            
            <td class="d-flex justify-content-center">
                <form action="{% url 'delete_contact' %}" method="POST">
                    {% csrf_token %}
                <input type="hidden" name="id" value="{{data.id}}">
                <button type="submit" class="actbtn btn btn-danger btn-sm">Delete</button>
                </form>

                
            </td>
        </tr>

        {% endfor %}


      {% else %}

        <tr>
            <td colspan="10" style="text-align:center">No data found</td>
        </tr>
      
       
        
    {% endif %}

    <style>
        .actbtn:hover{
            border:1px dotted #fff;
        }
    </style>
      
    </tbody>

    
</table>


{% if inf.has_other_pages %}
<ul class="pagination" style="margin-top:3rem">
  {% if inf.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ inf.previous_page_number }}&id={{cam_id}}">&laquo;</a></li>
  {% else %}
    <li class="disabled page-item page-link"><span>&laquo;</span></li>
  {% endif %}
  {% for i in inf.paginator.page_range %}
    {% if inf.number == i %}
      <li class="page-item active"><a class="page-link"> {{ i }} <span class="sr-only">(current)</span></a></li>
    {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}&id={{cam_id}}">{{ i }}</a></li>
    {% endif %}
  {% endfor %}
  {% if inf.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ inf.next_page_number }}&id={{cam_id}}">&raquo;</a></li>
  {% else %}
    <li class="disabled page-item page-link"><span>&raquo;</span></li>
  {% endif %}
</ul>
{% endif %}

</div>
</div>
</div>

</div>
</div>



{% endblock content %}

{% block customjs %}



{% endblock customjs%}