{% load static %}
<!DOCTYPE html>
<html>
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	

		<title>{% block title %}{% endblock title %}</title>	

		<meta name="keywords" content="HTML5 Template" />
		<meta name="description" content="Porto - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
		<link rel="manifest" href="{% static 'icons/site.webmanifest' %}">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800&display=swap" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
		<link rel="stylesheet" href="{% static 'vendor/animate/animate.compat.css' %}">
		<link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.min.css' %}">
		<link rel="stylesheet" href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}">
		<link rel="stylesheet" href="{% static 'vendor/owl.carousel/assets/owl.theme.default.min.css' %}">
		<link rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.min.css' %}">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static 'css/theme.css' %}">
		<link rel="stylesheet" href="{% static 'css/theme-elements.css' %}">
		<link rel="stylesheet" href="{% static 'css/theme-blog.css' %}">
		<link rel="stylesheet" href="{% static 'css/theme-shop.css' %}">

		<!-- Demo CSS -->
		<link rel="stylesheet" href="{% static 'css/demos/demo-sass.css' %}">

		<!--adding zoom css-->

		

		<!-- Skin CSS -->
		<link id="skinCSS" rel="stylesheet" href="{% static 'css/skins/skin-sass.css' %}">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static 'css/custom.css' %}">

		<!-- Head Libs -->
		<script src="{% static 'vendor/modernizr/modernizr.min.js' %}"></script>

		<!-- crisp chat-->
		<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="d723f232-5785-4760-9ab7-26eef3fbbc51";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-2E6RT8E65W"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-2E6RT8E65W');
		</script>
	</head>
	<body data-plugin-scroll-spy data-plugin-options="{'target': '#header'}">
		<!--
		<div style="background-color:red;height:2rem;width:100%" class="text-white">
			<marquee>
			Good news ! We are releasing email from only domain (job role wise) feature in the next month. It will have bulk email finder feature using spreadsheet . You just upload a csv file containing website urls and select the job position , the tool will do the rest of the job !
			</marquee>
		</div>
	-->

		<div class="body">
			<header id="header" class="header-transparent header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyChangeLogo': false, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}">
				<div class="header-body border-top-0 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
					<div class="header-container container-fluid px-lg-4">
						<div class="header-row px-lg-3">
							<div class="header-column">
								<div class="header-row">
									<div class="header-logo header-logo-sticky-change" style="width: 82px; height: 40px;">
										<a href="{% url 'home_page' %}">
											<img class="header-logo-non-sticky opacity-0" alt="Porto" width="100" height="50" src="{% static 'img/logo_white.svg' %}">
											<img class="header-logo-sticky opacity-0" alt="Porto" width="100" height="50" src="{% static 'img/logo_blue.svg' %}">
										</a>
									</div>
								</div>
							</div>
							<div class="header-column justify-content-center">
								<div class="header-row">
									<div class="header-nav header-nav-line header-nav-bottom-line header-nav-light-text justify-content-center">
										<div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-2 header-nav-main-sub-effect-1">
											<nav class="collapse">
												<ul class="nav nav-pills" id="mainNav">
													<li class="active"><a data-hash data-hash-offset="0" data-hash-offset-lg="60" href="{% url  'home_page' %}" class="dropdown-item active">Home</a></li>
													<li><a data-hash data-hash-offset="0" data-hash-offset-lg="60" href="#features" class="dropdown-item">FEATURES</a></li>
													
													
													<li><a data-hash data-hash-offset="0" data-hash-offset-lg="60" href="#pricing" class="dropdown-item">PRICING</a></li>
													<li><a data-hash data-hash-offset="0" data-hash-offset-lg="60" href="#faqs" class="dropdown-item">FAQ'S</a></li>
													<li><a data-hash data-hash-offset="0" data-hash-offset-lg="60" href="{% url 'affiliates' %}" class="dropdown-item">Afiiliate Program</a></li>
													<li><a data-hash data-hash-offset="0" data-hash-offset-lg="60" href="#trial" class="dropdown-item">CONTACT</a></li>
													<li><a data-hash data-hash-offset="0" data-hash-offset-lg="60" href="#overview" class="dropdown-item btn btn-info"></a></li>
													<li><a data-hash data-hash-offset="0" data-hash-offset-lg="60" href="{% url 'login' %}" class="dropdown-item btn btn-info">Login</a></li>
													<li><a data-hash data-hash-offset="0" data-hash-offset-lg="60" href="{% url 'signup' %}" class="dropdown-item btn btn-success">Sign Up</a></li>
												</ul>
											</nav>
										</div>
									</div>
								</div>
							</div>
							<div class="header-column">
								<div class="header-row justify-content-end">
									<!---
									<ul class="header-social-icons social-icons d-none d-sm-block social-icons-clean social-icons-icon-light">
										<li class="social-icons-facebook"><a href="#" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
										<li class="social-icons-twitter"><a href="#" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
										<li class="social-icons-linkedin"><a href="#" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
									</ul>
								-->
									<button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
										<i class="fas fa-bars"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>


{% block content %}







{% endblock content %}


<footer id="footer" class="bg-light border-0">
				<div class="container my-4">
					<div class="row py-5">
						<div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
							<a href="#" class="text-decoration-none">
								<img class="mt-4" alt="Porto Website Template" src="{% static 'img/logo_black.svg' %}" height="50">
							</a>
						</div>
						<div class="col-6 col-lg-2 mb-5 mb-lg-0">
							<ul class="list list-icons list-icons-sm">
								
								<li><i class="fas fa-angle-right text-color-default"></i><a href="{% url 'about_us' %}" class="link-hover-style-1 text-color-default ms-1"> About Us</a></li>
								<li><i class="fas fa-angle-right text-color-default"></i><a href="#trial" class="link-hover-style-1 text-color-default ms-1"> Contact Us</a></li>
							</ul>
						</div>
						<div class="col-6 col-lg-2 mb-5 mb-lg-0">
							<ul class="list list-icons list-icons-sm">
								<li><i class="fas fa-angle-right text-color-default"></i><a href="{% url 'affiliates' %}" class="link-hover-style-1 text-color-default ms-1"> Affilate program</a></li>
								<li><i class="fas fa-angle-right text-color-default"></i><a href="#faqs" class="link-hover-style-1 text-color-default ms-1"> FAQ's</a></li>
								<li><i class="fas fa-angle-right text-color-default"></i><a href="#pricing" class="link-hover-style-1 text-color-default ms-1"> Pricing</a></li>
							</ul>
						</div>
						<div class="col-md-6 col-lg-5">
							<div id="tweet" class="twitter" data-plugin-tweets data-plugin-options="{'username': 'oklerthemes', 'count': 1, 'iconColor': 'text-color-primary'}">
								
							</div>
						</div>
					</div>
				</div>
				<div class="footer-copyright bg-light">
					<div class="container py-2">
						<hr class="my-2">
						<div class="row justify-content-between pt-4 pb-5">
							<div class="col-auto">
								<p>© Copyright 2022. All Rights Reserved.</p>
							</div>
							<div class="col-auto">
								<nav id="sub-menu">
									<ul>
										<li><a href="{% url 'terms_and_conditions' %}" class="text-color-default ms-1 text-decoration-none"> Terms and Conditions</a></li>
										<li><a href="{% url 'privacy_policy' %}" class="text-color-default ms-1 text-decoration-none"> Privacy Policy</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>

		<!-- Vendor -->
		<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
		<script src="{% static 'vendor/jquery.appear/jquery.appear.min.js' %}"></script>
		<script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
		<script src="{% static 'vendor/jquery.cookie/jquery.cookie.min.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'vendor/jquery.validation/jquery.validate.min.js' %}"></script>
		<script src="{% static 'vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
		<script src="{% static 'vendor/jquery.gmap/jquery.gmap.min.js' %}"></script>
		<!-- zoom js plugin -->
		
		<script src="{% static 'vendor/lazysizes/lazysizes.min.js' %}"></script>
		<script src="{% static 'vendor/isotope/jquery.isotope.min.js' %}"></script>
		<script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
		<script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'vendor/vide/jquery.vide.min.js' %}"></script>
		<script src="{% static 'vendor/vivus/vivus.min.js' %}"></script>

	

		<!-- Theme Base, Components and Settings -->
		<script src="{% static 'js/theme.js' %}"></script>

		<!-- Current Page Vendor and Views -->
		<script src="{% static 'js/views/view.contact.js' %}"></script>

		<!-- Theme Custom -->
		<script src="{% static 'js/custom.js' %}"></script>

		<!-- Theme Initialization Files -->
		<script src="{% static 'js/theme.init.js' %}"></script>
		<!-- HTMX import-->
		<script src="{% static 'js/htmx.min.js' %}"></script>

		<!-- handling jquery ajax request for contact form-->

		<script>
			$(document).ready(function(){
				$('.contact-forms').on('submit',function(e){
					e.preventDefault();
					document.getElementById('sendBtn').textContent = "Please wait.....";

					var name = $("#name").val();
					var subject = $("#subject").val();
					var email = $("#email").val();
					var message = $("#message").val();

					$.ajax({
						url: '{% url "contact_us" %}',
						type: 'POST',
						dataType: 'json',
						data: {
						  name:name,
						  subject:subject,
						  email:email,
						  message:message
						}
						
					  })

					  .done(function(res){
						  $(".contact-forms-success").removeClass('d-none');
						  $("#sendBtn").text("SEND INQUERY");
						  document.getElementById('sendBtn').textContent = "SEND INQUERY";
						  $('.input-box').empty();
						  
					  })
				})
			})
		</script>


		{% block customjs %}

        {% endblock customjs %}

	</body>
</html>
