
{% extends 'dashboard_base/base_dashboard.html' %}

{% block title %} Dashboard {% endblock title %}
{% block content%}

{% load static %}
                <!--app-content open-->
				<div class="app-content">
					<div class="side-app">

						<!-- PAGE-HEADER -->
						{% if request.user.alert_status and request.user.is_affiliate != 1 %}
						<div class="page-header">
							<p class="text-danger"> All new discovered leads will be stored under active lead campaign . Each email verification costs 1 credit and each email finding costs 5 credits per email. <a href="{% url 'change_alert_status' %}" class="btn btn-danger btn-sm">Got it,thanks</a></p>
						</div>

						{% else %}

						{% endif %}
						<div class="page-header">

							<div id="alertbox">

							</div>

							<form class="form-inline" id="campaign_form" method="post" hx-post="{% url 'create_campaign' %}" hx-trigger="submit" hx-target="#alertbox">
								{% csrf_token %}
								<div class="form-group">
								<input class="form-control form-control-solid mr-sm-2" style="margin-right:1rem" type="text" placeholder="campagin name" aria-label="campaign" name="name" required/>
								</div>


								<div class="form-group">
									<input class="form-control form-control-solid mr-sm-2" style="margin-right:1rem;width:25rem" type="text" placeholder="short description" aria-label="description" name="description" required/>
								</div>

								<div class="form-group">
									<input class="btn btn-danger mr-sm-2" type="submit" value="Save Campaign" aria-label="campaign_save" id="submitbtn" />
								</div>

							</form>
							{% if request.user.is_affiliate == 0 %}
							<div class="ms-auto pageheader-btn">
								<a href="#" id="createcampbtn" class="btn btn-primary btn-icon text-white me-2">
									<span>
										<i class="fe fe-plus"></i>
									</span> Create lead campaign
								</a>
								
							</div>

							{% endif %}
						</div>

						 
						<!-- PAGE-HEADER END -->

						<!-- ROW-1 -->

						{% if request.user.is_affiliate == 0 %}
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
								<div class="row">
									<div class="col-lg-6 col-md-12 col-sm-12 col-xl-4">
										<div class="card overflow-hidden">
											<div class="card-body">
												<div class="row">
													<div class="col">
														<h6 class="">Campaigns</h6>
														<h3 class="mb-2 number-font">{{total_campaigns}}</h3>
														
													</div>
													<div class="col col-auto">
														<div class="counter-icon bg-primary-gradient box-shadow-primary brround ms-auto">
															<i class="fa-solid fa-circle text-white mb-0 "></i>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-12 col-sm-12 col-xl-4">
										<div class="card overflow-hidden">
											<div class="card-body">
												<div class="row">
													<div class="col">
														<h6 class="">Total Leads</h6>
														<h3 class="mb-2 number-font">{{total_leads}}</h3>
														
													</div>
													<div class="col col-auto">
														<div class="counter-icon bg-danger-gradient box-shadow-danger brround  ms-auto">
															<i class="icon icon-rocket text-white mb-5 "></i>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-12 col-sm-12 col-xl-4">
										<div class="card overflow-hidden">
											<div class="card-body">
												<div class="row">
													<div class="col">
														<h6 class="">Credits</h6>
														<h3 class="mb-2 number-font">{% if credits_remaining > 4000 %}UNLIMITED{% else %}{{credits_remaining}} {% endif %}</h3>
														
													</div>
													<div class="col col-auto">
														<div class="counter-icon bg-secondary-gradient box-shadow-secondary brround ms-auto">
															<i class="fe fe-dollar-sign text-white mb-5 "></i>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<!--
									<div class="col-lg-6 col-md-12 col-sm-12 col-xl-3">
										<div class="card overflow-hidden">
											<div class="card-body">
												<div class="row">
													<div class="col">
														<h6 class="">Total Cost</h6>
														<h3 class="mb-2 number-font">$34,789</h3>
														
													</div>
													<div class="col col-auto">
														<div class="counter-icon bg-success-gradient box-shadow-success brround  ms-auto">
															<i class="fe fe-briefcase text-white mb-5 "></i>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>-->
								</div>
							</div>
						</div>

						{% endif %}
						
						<!-- ROW-1 END -->



						<!--     affiliate cards should go there    -->

						
						{% if request.user.is_affiliate == 1 %}
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
								<div class="row">
									<div class="col-lg-6 col-md-12 col-sm-12 col-xl-3">
										<div class="card overflow-hidden">
											<div class="card-body">
												<div class="row">
													<div class="col">
														<h6 class="">Total Referred Users</h6>
														<h3 class="mb-2 number-font">{{aff_data.total_referred}}</h3>
														
													</div>
													<div class="col col-auto">
														<div class="counter-icon bg-primary-gradient box-shadow-primary brround ms-auto">
															<i class="fa-solid fa-circle text-white mb-5 "></i>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-12 col-sm-12 col-xl-3">
										<div class="card overflow-hidden">
											<div class="card-body">
												<div class="row">
													<div class="col">
														<h6 class="">Premium Subscribers</h6>
														<h3 class="mb-2 number-font">{{aff_data.all_prem_user}}</h3>
														
													</div>
													<div class="col col-auto">
														<div class="counter-icon bg-danger-gradient box-shadow-danger brround  ms-auto">
															<i class="icon icon-rocket text-white mb-5 "></i>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-12 col-sm-12 col-xl-3">
										<div class="card overflow-hidden">
											<div class="card-body">
												<div class="row">
													<div class="col">
														<h6 class="">Balance</h6>
														<h3 class="mb-2 number-font">{{aff_data.balance}}</h3>
														
													</div>
													<div class="col col-auto">
														<div class="counter-icon bg-secondary-gradient box-shadow-secondary brround ms-auto">
															<i class="fe fe-dollar-sign text-white mb-5 "></i>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									
									<div class="col-lg-6 col-md-12 col-sm-12 col-xl-3">
										<div class="card overflow-hidden">
											<div class="card-body">
												<div class="row">
													<div class="col">
														<h6 class="">Referral link</h6>
														<h6 class="mb-2  number-font" id="reflnk">https://platileads.com/?ref={{request.user.id}}</h6>
														<a id="cp"  onclick="cp()" class="text-white btn btn-sm btn-dark">Click to copy </a>
														
													</div>
													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						{% endif %}

						<!--end if showing cards of affiliate -->


						<!-- latest leads will be shown here -->
						{% if request.user.is_affiliate == 0 %}
						<div class="row">
							<div class="col-12 col-sm-12">
								<div class="card ">
									<div class="card-header d-flex justify-content-between">
										<h3 class="card-title mb-0">Latest Leads</h3>
						
										
									</div>
									<div class="card-body">
										{% if all_latest_leads_count == 0 %}

										<h2 class="text-dark text-center">No data available for now</h2>
										{% else %}
										<div class="table-responsive">
											<table id="data-table" class="table table-bordered text-nowrap mb-0">
												<thead class="border-top">
												<tr>
												   
													<th class="bg-transparent border-bottom-0">First Name</th>
													<th class="bg-transparent border-bottom-0">Last Name</th>
													
													<th class="bg-transparent border-bottom-0">Website</th>
													<th class="bg-transparent border-bottom-0">Email</th>
													<th class="bg-transparent border-bottom-0">Position</th>
													
													
												</tr>
												</thead>
												<tbody>
													{% for lead in all_latest_leads %}
													<tr class="border-bottom" id="lead{{lead.id}}">
														
														<td class="text-muted fs-15 fw-semibold">
															{{lead.lead.first_name}}
															
														</td>
														<td class="text-muted fs-15 fw-semibold">{{lead.lead.last_name}} </td>
														
														<td class="text-success fs-15 fw-semibold">{{lead.lead.website}}</td>
														<td class="text-success fs-15 fw-semibold">{{lead.lead.email}}</td>
														<td class="text-success fs-15 fw-semibold">{{lead.lead.position}}</td>
														
						
						
						
													
													</tr>
						
													{% endfor %}
												   
												</tbody>
											</table>
										</div>
										{% endif %}
									</div>
								</div>
							</div><!-- COL END -->
						</div><!-- ROW-5 END -->

						{% endif %}

						<!-- end of showing latest leads-->


						<!-- invited users by affiliate  here  -->

						{% if request.user.is_affiliate == 1 %}
						<div class="row">
							<div class="col-12 col-sm-12">
								<div class="card ">
									<div class="card-header d-flex justify-content-between">
										<h3 class="card-title mb-0">Your invited users</h3>
						
										
									</div>
									<div class="card-body">
										{% if aff_data.all_referred_user_count == 0 %}

										<h2 class="text-dark text-center">You don't have any invited users for now</h2>
										{% else %}
										<div class="table-responsive">
											<table id="data-table" class="table table-bordered text-nowrap mb-0">
												<thead class="border-top">
												<tr>
													<th class="bg-transparent border-bottom-0">Date</th>
													<th class="bg-transparent border-bottom-0">First Name</th>
													<th class="bg-transparent border-bottom-0">Last Name</th>
													
													
													<th class="bg-transparent border-bottom-0">Subscribed Plan</th>
													
													
												</tr>
												</thead>
												<tbody>
													{% for user in aff_data.all_referred_user %}
													<tr class="border-bottom" id="lead{{user.id}}">
														
														<td class="text-muted fs-15 fw-semibold">
															{{user.start_date}}
															
														</td>
														<td class="text-muted fs-15 fw-semibold">{{user.user.first_name}} </td>
														
														<td class="text-muted fs-15 fw-semibold">{{user.user.last_name}}</td>
														<td class="text-success fs-15 fw-semibold">{{user.package.name}}</td>
														
														
						
						
						
													
													</tr>
						
													{% endfor %}
												   
												</tbody>
											</table>
										</div>
										{% endif %}
									</div>
								</div>
							</div><!-- COL END -->
						</div><!-- ROW-5 END -->

						{% endif %}
			

						<!-- table was there -->
					</div>
				</div>
				<!-- CONTAINER END -->
            </div>

			<!-- Sidebar-right -->
			


			{% endblock content %}


			{% block customjs %}

			<script>
				var reftxt = document.getElementById("reflnk")

				function cp(){

					
					navigator.clipboard.writeText(reftxt.textContent);

					document.getElementById('cp').textContent = "Copied !"

				}

			</script>

			<script>
				
				$('#campaign_form').hide();
				$('#createcampbtn').on('click', function() {
					
					$('#campaign_form').toggle('slow','swing');
				});
			</script>

			<script>
				//register event for htmx

				document.body.addEventListener('htmx:beforeSend', function(e) {
					$('#submitbtn').val('Please wait.....');

				});


				document.body.addEventListener('htmx:beforeSwap', function(e) {
					$('#submitbtn').val('Submit');
					$('#campaign_form').hide();
					window.location.reload();
				});

				
				
				


			localStorage.setItem("plati_token", {{token}});
			

			
					
				

				
					
				
		
			</script>

			{% endblock customjs %}