{% extends 'homepage_base/auth_base.html' %}

{% block title %} Signup For An Account {% endblock %}

{% block content %}

{% load static %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card" style="margin-top:1.5rem;margin-bottom:1rem;border-radius:10%">
                <div class="card-header text-center">Free Signup For An account</div>
                <div class="card-title" id="show_alerts">
                    
                </div>
                <div class="card-body">
                    <form action="{% url 'signup' %}" method="post" hx-post="{% url 'signup' %}" hx-trigger="submit" hx-target="#show_alerts" hx-indicator="#loading_spinner" id="form">

                        {% csrf_token %}

                        <input type="hidden" name="plan" value="{{ plan }}">
                        <div class="form-group">
                            
                            <input type="text" name="first_name" id="name" class="form-control" placeholder="First Name" required>
                        </div>
                        <div class="form-group">
                           
                            <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last Name" required>
                        </div>
                        <div class="form-group">
                            
                            <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email" required>
                        </div>

                        <div class="form-group">
                            
                            <input type="text" name="phone" id="phone" class="form-control" placeholder="Phone Number" required>
                        </div>
                        <div class="form-group">
                           
                            <input type="password" name="password" id="password" class="form-control" placeholder="Enter your password" required>
                        </div>
                        <div class="form-group">
                           
                            <input type="password" name="confirm_password" id="password_confirmation" class="form-control" placeholder="Confirm your password" required>
                        </div>

                        <div class="form-group d-flex justify-content-around">
                            <input type="checkbox" style="height:1rem;width:1rem" class="form-check-input mt-1" name="tos" required></input> <font>I agree to the <a href="{% url 'terms_and_conditions' %}">Terms and Conditions</a></font>
                        </div
                        
                        <div class="form-group d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Signup Now</button>
                        </div>
                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- loading spinner-->

<img src="{% static 'img/loading.gif' %}" id="loading_spinner" class="img-responsive htmx-indicator"  style="position:absolute;top:50%;left:45%;z-index:33"/>


<style>


</style>


{% endblock content %}

{% block customjs %}
<script>

$(document).ready(function(){
    $('html').addClass('sticky-header-active');
});


document.body.addEventListener('htmx:beforeSend', function(e) {
    $('body > *:not(#loading_spinner)').css('filter','blur(5px)');
    $('body > *:not(#loading_spinner)').css('pointer-events','none');

   
});

document.body.addEventListener('htmx:beforeSwap', function(e) {
    if(e.detail.serverResponse == 'platinum'){
        e.preventDefault();
        $('#show_alerts').html('<div class="alert alert-success" role="alert">Account created ! Please wait......</div>');
        window.location.href = window.location.protocol+'//'+window.location.host+"/subscriptions/subscribe/?plan=p";
    }

    if(e.detail.serverResponse == 'gold'){
        e.preventDefault();
        $('#show_alerts').html('<div class="alert alert-success" role="alert">Account created ! Please wait......</div>');
        window.location.href = window.location.protocol+'//'+window.location.host+"/subscriptions/subscribe/?plan=g";
    }

    if(e.detail.serverResponse == 'unlimited'){
        e.preventDefault();
        $('#show_alerts').html('<div class="alert alert-success" role="alert">Account created ! Please wait......</div>');
        window.location.href = window.location.protocol+'//'+window.location.host+"/subscriptions/subscribe/?plan=u";
    }

    $('body > *:not(#loading_spinner)').css('filter', 'blur(0px)');
    $('body > *:not(#loading_spinner)').css('pointer-events','auto');
});


</script>

{% endblock customjs %}